{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
  article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}audio,canvas,video{display:inline-block}audio:not([controls]){display:none;height:0}[hidden]{display:none}html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}button,html,input,select,textarea{font-family:sans-serif}body{margin:0}a:focus{outline:thin dotted}a:active,a:hover{outline:0}h1{font-size:2em;margin:.67em 0}h2{font-size:1.5em;margin:.83em 0}h3{font-size:1.17em;margin:1em 0}h4{font-size:1em;margin:1.33em 0}h5{font-size:.83em;margin:1.67em 0}h6{font-size:.67em;margin:2.33em 0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:700}blockquote{margin:1em 40px}dfn{font-style:italic}hr{box-sizing:content-box;height:0}mark{background:#ff0;color:#000}p,pre{margin:1em 0}code,kbd,pre,samp{font-family:monospace,serif;_font-family:courier new,monospace;font-size:1em}pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word}q{quotes:none}q:after,q:before{content:'';content:none}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-.5em}sub{bottom:-.25em}dl,menu,ol,ul{margin:1em 0}dd{margin:0 0 0 40px}menu,ol,ul{padding:0 0 0 40px}nav ol,nav ul{list-style:none;list-style-image:none}img{border:0;-ms-interpolation-mode:bicubic}svg:not(:root){overflow:hidden}figure,form{margin:0}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0;white-space:normal}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline}button,input{line-height:normal}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=search]{-webkit-appearance:textfield;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}
  </style>
     <link rel="stylesheet" href="{% static 'css/application.css' %}">
</head>
<body style="background: darkgray" class="a">
<div id = "over" class="overoff">
</div>
<div class="overal_vraper">
<div class="header">
</div>
<div class="main-wrap">
<div class="tagger">
    <ul>
        <li style="position: fixed; width:10%">
            <h3>Cloud of Dumb Thing</h3>
            <a href="" name="LOVE" class="tager">LOVE</a>
            <a href="" name="LOVE" class="tager">LOVE</a>
            <a href="" name="LOVE" class="tager">LOVE</a>
            <a href="" name="LOVE" class="tager">LOVE</a>
            <a href="" name="LOVE" class="tager">LOVE</a>
            <a href="" name="LOVE" class="tager">LOVE</a>
            <a href="" name="LOVE" class="tager">LOVE</a>
        </li>

    </ul>
    <h3 id="Pager" style="position: fixed; bottom: 20px; left: 1%">Number page:</h3>
    <button style="position: fixed; bottom: 10px; left: 13%" id="Topper">^</button>
</div>
<div class="main">
 <ul id ="shelf">
     {% block content %}
     {% endblock %}
 </ul>
</div>
</div>
</div>
<script src="{% static 'script/main.js' %}"></script>
</body>
</html>