// Base Style

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  align-content: space-around;
  //background: $back-body;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  height: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

