$small-width: 320px;
$medium-width: 768px;
$large-width: 1024px;

@mixin smallscreenl {
  @media screen and (min-width: #{$small-width}) and (max-width: #{$medium-width - 1px}) and (orientation: landscape) {
    @content;
  }
}

@mixin smallscreen {
  @media screen and (min-width: #{$small-width}) and (max-width: #{$medium-width - 1px}) {
    @content;
  }
}

@mixin mediumscreen {
  @media screen and (min-width: #{$medium-width}) and (max-width: #{$large-width - 1px}) {
    @content;
  }
}

@mixin largescreen {
  @media screen and (min-width: #{$large-width}) {
    @content;
  }
}
