
.imager {
  margin: 0;
  padding: 0;
  transition: transform .4s;
}

.small_size {
  max-height: 200px;
  max-width: 200px;
  z-index: 0;
}

.real_size {
  left: 50%;
  max-height: 100%;
  max-width: 100%;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;

}

.main-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.main {
  margin: 0;
  width: 85%;
}

.tagger {
  flex: auto;
  width: 15%;
}

.overal_vraper {
  display: flex;
  flex-direction: column;
}

#over {
  background-color: black;
  border: 1px solid black;
  bottom: 0;
  height: auto;
  left: 0;
  margin: 0;
  opacity: 0.8;
  padding: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: auto;
}

.overoff {
  display: none;
  visibility: hidden;
  z-index: 0;
}

.overlay {
  display: block;
  visibility: visible;
  z-index: 500;
}

.frame {
  display: flex;
  height: auto;
  list-style: none;
  margin: 4px 4px;
  padding: 0;
  width: auto;
}

#shelf {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}
